.influencers-section {
	padding: 150px 0 90px;
	color: #231f20;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100px;
		width: 2px;
		margin: auto;
		background: #47b397;
	}
	h3 {
		font-weight: 500;
	}
	.thumb-circle {
		display: block;
		padding: 0 0 100%;
		border-radius: 50%;
		overflow: hidden;
		background-position: center;
		background-size: cover;
		font-size: 0;
		text-indent: -9999px;
		@include transition(all 0.3s ease-in-out);
		box-shadow: inset 0 0 0 2px #47b397;
		&:hover {
			box-shadow: inset 0 0 0 140px rgba(#47b397, 0.3), inset 0 0 0 6px rgba($green-d,0.8);
		}
	}
	.influencers-list {
		@media (max-width: 767px) {
			padding-left: 25px;
			padding-right: 25px;
		}
		.influencers-carousel {
			display: flex;
			justify-content: space-between;
			.owl-nav {
				[class*="owl-"] {
					@media (max-width: 767px) {
						position: absolute;
						top: 90px;
					}
				}
				.owl-prev {
					right: 100%;
					left: auto;
				}
				.owl-next {
					left: 100%;
					right: auto;
				}
			}
			.item {
				position: relative;
				&:after {
					content: '';
					position: absolute;
					top: 85px;
					left: 100%;
					height: 2px;
					width: 100%;
					background: #47b397;
					@media (max-width: 991px) {
						top: 60px;
					}
					@media (max-width: 767px) {
						display: none;
					}
				}
				&:last-child {
					&:after {
						display: none;
					}
				}
				.influencer-block {
					width: 170px;
					border: 5px solid #fff;
					margin-bottom: 20px;
					@media (max-width: 991px) {
						width: 120px;
					}
					@media (max-width: 767px) {
						width: 180px;
						margin: 0 auto 25px;
					}
				}
			}
		}
	}
}