// .offset-top-xs-1 => margin-top: 1rem;
@for $i from 0 through 10 {
	@each $margin in top, bottom {
		.offset-#{$margin}-xs-#{$i}{
			@include offset-margin($margin, 1rem * $i)
		}
	}
}

// .offset-top-xs-1 => margin-top: 1rem;
@for $i from 0 through 10 {
	@each $padding in top, bottom {
		.pad-#{$padding}-xs-#{$i}{
			@include offset-padding($padding, 1rem * $i)
		}
	}
}


@media (min-width: 768px) {

	// .offset-top-sm-1 => margin-top: 1rem;
	@for $i from 0 through 10 {
		@each $margin in top, bottom {
			.offset-#{$margin}-sm-#{$i}{
				@include offset-margin($margin, 1rem * $i)
			}
		}
	}

	// .offset-top-sm-1 => margin-top: 1rem;
	@for $i from 0 through 10 {
		@each $padding in top, bottom {
			.pad-#{$padding}-sm-#{$i}{
				@include offset-padding($padding, 1rem * $i)
			}
		}
	}

	.cust-form-popup {
		.arr-to-sm {
			position: relative;
			&:before {
				content: "";
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 9px 18px 9px;
				border-color: transparent transparent #ffffff transparent;
				position: absolute;
				bottom: -11px;
				left: 50%;
				margin-left: -9px;
			}
		}
	}
	.disabled-form .form-control:disabled {
		font-size: 40px;
	}

	.table-social {
		tr {
			th {
				min-width: 175px;
			}
		}
	}

}

@media (min-width: 768px) and (max-width: 991px) {
	.articles-list.pad-25 {
		padding-right: 25px;
	}
	.sidebar.pad-25 {
		padding-left: 25px;
	}
	.articles-list {
		padding-right: 25px;
	}
	.sidebar {
		padding-left: 25px;
	}
}

@media (min-width: 992px) {

	// .offset-top-md-1 => margin-top: 1rem;
	@for $i from 0 through 10 {
		@each $margin in top, bottom {
			.offset-#{$margin}-md-#{$i}{
				@include offset-margin($margin, 1rem * $i)
			}
		}
	}

	// .offset-top-md-1 => margin-top: 1rem;
	@for $i from 0 through 10 {
		@each $padding in top, bottom {
			.pad-#{$padding}-md-#{$i}{
				@include offset-padding($padding, 1rem * $i)
			}
		}
	}

}

@media (min-width: 1200px) {

	// .offset-top-lg-1 => margin-top: 1rem;
	@for $i from 0 through 10 {
		@each $margin in top, bottom {
			.offset-#{$margin}-lg-#{$i}{
				@include offset-margin($margin, 1rem * $i)
			}
		}
	}

	// .offset-top-lg-1 => margin-top: 1rem;
	@for $i from 0 through 10 {
		@each $padding in top, bottom {
			.pad-#{$padding}-lg-#{$i}{
				@include offset-padding($padding, 1rem * $i)
			}
		}
	}

}

/* Max Width
 ----------------------------------------------------- */

@media (max-width: 991px) {
	body {
		font-size: 14px;
	}
	header.header {
		.navbar {
			& > .container {
				@include transition(all 0.3s ease-in-out);
				padding-top: 6px;
				padding-bottom: 8px;
			}
			.navbar-brand > img {
				max-height: 34px;
			}
		}
		.btns-box {
			right: 50px;
			top: 17px;
			.btn {
				padding: 0 5px;
				border: none;
				background: transparent;
				height: auto;
				color: $green;
				.fa {
					display: inline-block;
					font-size: 20px;
				}
				span {
					display: none;
				}
				&:hover {
					background: transparent;
					color: $green-d;
				}
			}
		}
	}
	body.mobile-bar-active .mobile-bar {
		left: 0;
	}
	.login-popup-box-wrap {
		top: 40px;
		.login-popup-box {
			padding: 15px 15px 0px;
		}
	}
	.main-carousel {
		.slide-item {
			height: calc(100vh - 125px);
		}
	}
	.blog-post {
		text-align: center;
		img {
			margin-bottom: 20px;
		}
		p {
			padding-right: 0;
			margin-bottom: 20px;
		}
		a {
			margin-right: 0;
		}
	}
	.sidebar-element .list li a {
		font-size: 16px;
	}
	.green-full-centered {
		height: calc(100vh - 48px);
	}
	.title-box h2 {
		font-size: 24px;
		.btn-collapse-section {
			float: right;
			position: static;
			margin-top: 5px;
		}
	}
	.title-box h2 .btn-collapse-section {
		padding-bottom: 45px;
	}
	.stats-table {
		thead tr th {
			line-height: 1.6;
		}
		table {
			tbody {
				height: 450px;
				tr td {
					min-width: 160px;
				}
			}
			td[data-title="URL"], thead th:nth-child(2) {
				padding-left: 45px;
				padding-right: 25px;
				min-width: 180px;
				width: 180px;
			}
			td[data-title="Channel"], thead th:nth-child(1) {
				padding-left: 45px;
				padding-right: 25px;
				min-width: 170px;
				width: 170px;
			}
		}
	}
	.post-article {
		font-size: 16px;
	}
	.social-option-box {
		.login-popup-box-wrap {
			top: -74px;
			right: 90px;
			.login-popup-box {
				&:before {
					top: 87px;
					right: -16px;
					border-width: 7px 0 7px 16px;
					border-color: transparent transparent transparent #014765;
				}
			}
		}
	}
	.dropdown.cst-select-lg {
		.btn {
			font-size: 21px;
		}
		.dropdown-menu {
			font-size: 19px;
		}
	}
}

@media (max-width: 767px) {
	.text-left-xs {
		text-align: left;
	}
	.text-center-xs {
		text-align: center;
	}
	.text-right-xs {
		text-align: right;
	}
	.block-xs {
		display: block;
	}
	.bg-white-xs {
		background: #fff;
	}
	.bg-grey-xs {
		background: #eceded;
	}
	.main-carousel .slide-item .bg-img {
		filter: none !important;
	}
	.main-carousel {
		.owl-item {
			&.active {
				.slide-item {
					img {
						@include filter(grayscale(0));
					}
					.slide-cont {
						background: rgba($green, 0.8);
					}
				}
				& + .active {
					img {
						@include filter(grayscale(1));
					}
					.slide-cont {
						background: rgba($green, 0.2);
					}
				}
			}
		}
	}
	.feature-controls-dots {
		display: none;
	}
	.feature-slide {
		.top-subheader {
			display: block;
			cursor: pointer;
			text-align: center;
			@include display(flex);
			@include justify-content(center);
		}
		.feature-slide-cont {
			border: none;
			padding: 20px 15px;
			position: relative;
			max-height: 0;
			& > .row {
				padding-top: 30px;
				padding-bottom: 32px;
			}
			&:after {
				content: "";
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 10px 18px 10px;
				border-color: transparent transparent rgba(255, 255, 255, 0.1) transparent;
				position: absolute;
				left: 50%;
				margin-left: -10px;
				top: 0;
				z-index: 6;
				opacity: 0;
				@include transition(all 0.2s ease-in-out);
			}
		}
		.top-subheader-img {
			margin-bottom: 40px;
			text-align: center;
			.img-circle {
				max-width: 190px;
				margin: auto;
			}
			& + .feature-slide-cont {
				max-height: 3000px;
				&:after {
					top: -18px;
					opacity: 1;
				}
			}
		}
		&.stl-2 {
			.feature-slide-cont {
				&:before,
				&:after {
					content: "";
					display: block;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 10px 18px 10px;
					border-color: transparent transparent #fff transparent;
					position: absolute;
					left: 50%;
					margin-left: -10px;
					top: -17px;
					z-index: 6;
					opacity: 1;
				}
				&:before {
					border-color: transparent transparent #cacccc transparent;
					top: -19px;
				}
			}
		}
	}
	.feature-carousel {
		&.mobile-cont-active {
			.feature-slide {
				.feature-slide-cont {
					max-height: 3000px;
					&:after {
						top: -18px;
						opacity: 1;
					}
				}
			}
		}
	}
	.post-item-v1 {
		.thumb-circle {
			width: 150px;
			height: 150px;
			padding: 0;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.section {
		padding-top: 50px;
		padding-bottom: 50px;
		position: relative;
		&.pad-sm {
			padding-top: 40px;
			padding-bottom: 40px;
		}
		&.pad-lg {
			padding-top: 40px;
			padding-bottom: 40px;
		}
		&.pad-top-xxs-0 {
			padding-top: 0;
		}
		&.pad-bottom-xxs-0 {
			padding-top: 0;
		}
	}
	.testimonial-item {
		text-align: center;
		blockquote {
			font-size: 18px;
		}
	}
	.simple-slider {
		.img-circle {
			width: 190px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.slide-cont-xs {
		background: rgba(255,255,255,0.1);
		border-radius: 3px;
		padding: 30px 15px 20px;
		font-weight: 100;
		margin-top: 40px;
		position: relative;
		@include transition(all 0.2s ease-in-out);
		&:after {
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 18px 10px;
			border-color: transparent transparent rgba(255, 255, 255, 0.1) transparent;
			position: absolute;
			left: 50%;
			margin-left: -10px;
			top: -18px;
			z-index: 6;
			opacity: 1;
		}
	}
	.results-table {
		text-align: center;
		font-size: 18px;
		tbody > tr:nth-child(even) {
			background: #F9F9F9;
		}
		tr {
			display: block;
			width: auto;
			margin: 0 -15px;
			padding-top: 25px;
			padding-bottom: 25px;
			cursor: default;
		}
		thead > tr > th,
		tbody > tr > th,
		tfoot > tr > th,
		thead > tr > td,
		tbody > tr > td,
		tfoot > tr > td {
			display: block;
			width: auto;
			margin-left: -15px;
			margin-right: -15px;
			border: none;
		}
		td[data-title]:before {
			content: attr(data-title);
			font-weight: 800;
			display: block;
		}
		.status-marker {
			display: none;
		}
	}
	.p-title {
		h1, h2 {
			margin-bottom: 15px;
			.txt-wlight {
				display: block;
			}
		}
	}
	.s-title {
		background: #fff;
		text-align: center;
		padding: 30px 20px;
		margin: 0 -15px 25px;
		h1, h2, h3 {
			margin-bottom: 0;
		}
	}
	.table-social {
		tr {
			th.col-logo {
				width: 80px;
			}
		}
		& > thead > tr > th,
		& > tbody > tr > th,
		& > tfoot > tr > th,
		& > thead > tr > td,
		& > tbody > tr > td,
		& > tfoot > tr > td {
			padding-left: 0;
			padding-right: 0;
			line-height: 1.2em;
		}
		.social-date {
			display: block;
		}
		em {
			display: none;
		}
		.btn-disconect {
			opacity: 1;
		}
	}
	.mob-social-option-box {
		.table-social {
			margin-bottom: 0;
			tr:last-child td {
				border-bottom-color: transparent
			}
		}
		.social-option-box:nth-child(even) {
			background: #fff;
			padding: 40px 15px 20px;
			margin-left: -15px;
			margin-right: -15px;
		}
	}
	.p-title h1,
	.p-title h2 {
		font-size: 35px;
	}
	.form-row {
		padding-right: 34px;
		.btn-add {
			top: 36px;
			right: 15px;
			left: auto;
		}
	}
	.not-found-page img {
		max-width: 70%;
	}
	.feed-grid {
		.feed-item {
			width: 100%;
		}
	}
	.title-with-circle {
		text-align: center;
	}
	.hero-text h1 {
		font-size: 56px;
	}
	.blog-post {
		a {
			width: 100%;
		}
		p {
			font-size: 16px;
		}
		h4 {
			text-align: left;
		}
	}
	.animation-carousel .owl-item .img-wrap img {
		opacity: 1;
		filter: grayscale(1);
		border-width: 5px;
	}
	.social-option-box {
		.login-popup-box-wrap {
			display: none;
		}
	}
	.disabled-form .s-title {
		margin-bottom: 0;
	}
	.social-option-box {
		.login-popup-box-wrap {
			position: relative;
			top: auto;
			bottom: auto;
			left: -15px;
			z-index: 2;
			max-width: calc(100% + 30px);
			width: calc(100% + 30px);
			border-radius: 0;
			transform: translateY(2rem);
			.login-popup-box {
				border-radius: 0;
				margin-bottom: 0;
				max-width: 100%;
				width: 100%;
				padding: 25px 18px;
				&:before {
					border-width: 0 7px 12px 7px;
					top: -12px;
					right: calc(50% - 7px);
					border-color: transparent transparent $blue transparent;
				}
			}
			.btn-default {
				width: 100%;
			}
		}
		.btn-add-social.active {
			background-color: #318878;
			color: white;
		}
	}
	.dropdown.cst-select-lg {
		.btn {
			font-size: 18px;
		}
		.dropdown-menu {
			font-size: 16px;
		}
	}
}

@media (max-width: 620px) {
	.btn-group > .btn,
	.btn-group-vertical > .btn {
		width: 100%;
		margin: 0 auto;
		& + .btn {
			margin-top: 12px;
		}
	}
}

@media (max-width: 520px) {
	.main-carousel {
		.owl-item {
			.slide-item {
				.slide-cont {
					bottom: 0;
					left: 0;
					right: 0;
					text-align: center;
					padding: 12px 15px 10px;
				}
			}
		}
	}
	&.video-link {
		&:before {
			width: 42px;
			height: 42px;
			margin-top: -21px;
			margin-left: -21px;
			line-height: 36px;
			font-size: 18px;
		}
	}
	.section {
		padding-top: 30px;
		padding-bottom: 30px;
		position: relative;
		&.pad-sm {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
	.post-item-v1 {
		max-width: 220px;
		margin: 80px auto 5px;
		font-size: 13px;
		.thumb-circle {
			margin-top: -95px;
			margin-bottom: 20px;
		}
		h4 {
			font-size: 14px;
			font-weight: 600;
		}
		.btn {
			display: none;
		}
	}
	.form-line-style {
		.form-control {
			font-size: 15px;
		}
		.form-group {
			margin-bottom: 24px;
		}
	}
	.section.collapse-animation {
		padding-bottom: 45px;
	}
	.hero-text h1 {
		font-size: 48px;
	}
}

// custom media for 404 page
@media (max-width: 459px) {
	.not-found-page {
		.message {
			img {
				max-width: 100%;
				top: 16px;
				padding-left: 30px;
				padding-right: 30px;
			}
			h1 {
				margin-bottom: 120px;
				font-size: 27vw;
			}
		}
	}
}

@media (max-width: 420px) {
	.blog-title {
		font-size: 24px;
		margin-bottom: 120px;
	}
}

/* Min Width
 ----------------------------------------------------- */


// custom media for 404.html
@media (min-width: 460px) {
	.not-found-page .message h1 {
		font-size: 94px;
		margin-bottom: -10px;
	}
}

@media (min-width: 768px) {
	.text-left-sm {
		text-align: left;
	}
	.text-center-sm {
		text-align: center;
	}
	.text-right-sm {
		text-align: right;
	}
	.bracket-outline {
		position: relative;
		padding: 28px 0 28px 43px;
		border-left: 2px solid rgba($green, 0.5);
		p:last-child {
			margin-bottom: 0;
		}
		& > div {
			&:before {
				content: "";
				display: block;
				height: 2px;
				width: 27px;
				background: rgba($green, 0.5);
				top: 50%;
				left: -29px;
				margin-top: -1px;
				position: absolute;
			}
		}
		&:before {
			content: "";
			display: block;
			height: 2px;
			width: 44px;
			background: rgba($green, 0.5);
			top: 0;
			left: 0;
			position: absolute;
		}
		&:after {
			content: "";
			display: block;
			height: 2px;
			width: 44px;
			background: rgba($green, 0.5);
			bottom: 0;
			left: 0;
			position: absolute;
		}
	}
	.feature-slide {
		.bord-left-sm {
			border-left: 1px solid rgba(255,255,255,0.1);
			padding-top: 24px;
			padding-bottom: 24px;
		}
	}
	.width-50vw-sm {
		width: 50vw !important;
	}
	.table-with-hover {
		tr {
			cursor: pointer;
			td:first-child { border-top-left-radius: 4px; }
			td:last-child { border-top-right-radius: 4px; }
			td:first-child { border-bottom-left-radius: 4px; }
			td:last-child { border-bottom-right-radius: 4px; }
			td {
				@include transition(all 0.3s ease-in-out);
			}
			&:hover {
				border-color: transparent;
				td {
					background: #fff;
					border-color: transparent;
				}
				& + tr {
					td {
						border-color: transparent;
					}
				}
			}
		}
	}
	.form-row-sm,
	.form-row {
		padding-left: 34px;
	}
}

@media (min-height: 800px) {
	.not-found-page .message {
		top: 55%;
	}
}

@media (min-width: 992px) {
	.text-left-md {
		text-align: left;
	}
	.text-center-md {
		text-align: center;
	}
	.text-right-md {
		text-align: right;
	}
	header.header {
		.main-menu {
			padding-left: 200px;
			padding-right: 200px;
			text-align: center;
		}
	}
	h1,.h1,h2,.h2 {
		font-size: 55px;
	}
	h3, .h3 {
		font-size: 45px;
		margin-bottom: 40px;
	}
	.post-article {
		font-size: 20px;
		blockquote {
			font-size: 18px;
			padding-left: 30px;
			padding-right: 30px;
			margin-left: 6%;
			margin-right: 6%;
		}
	}
	.post-title-box {
		h1, h2 {
			font-size: 44px;
		}
	}
	.not-found-page .message h1 {
		font-size: 126px;
		margin-bottom: -20px;
	}
}

@media (min-width: 1199px) {
	.text-left-lg {
		text-align: left;
	}
	.text-center-lg {
		text-align: center;
	}
	.text-right-lg {
		text-align: right;
	}
	.row {
		&.row-xl {
			// margin-right: -60px;
			// margin-left: -60px;
			.col-xs-12,
			.col-xs-6 {
				padding-right: 60px;
				padding-left: 60px;
			}
		}
	}
}


/* Only for mobile devices with screen orientation - landscape 
 ----------------------------------------------------- */

@media only screen
and (max-width : 768px)
and (orientation : landscape) {

}

/* For Retina---------------------------------------------
 ----------------------------------------------------- */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {

	/* .header .site-logo {
		background: url("../images/logo@2x.png") no-repeat;
		background-size: 100%;
	} */
}
