//
// Variables (Bootstrap Overrides & More)
// --------------------------------------------------

//== Colors
$green:               #49bda8;
$green-d:             darken(#49bda8, 15%);
$blue:                #014765;
$blue-2:              #294964;
// $light-grey:            #f7f7ef;
// $purple-d:              darken(@purple-c, 10%);
// $purple-l:              lighten(@purple-c, 15%);

@mixin offset-margin($margin, $value){
  margin-#{$margin}: $value;
}
@mixin offset-padding($padding, $value){
  padding-#{$padding}: $value;
}
