@charset "utf-8";
/* CSS Document */

a.text-dark span,
a.text-dark:hover span,
a.text-dark:active span,
a.text-dark:focus span,
.bg-green a.text-dark:not(.btn), 
.post-item-v1 a.text-dark:not(.btn)  {
	color: 	#4d4d4d!important;
}

.bracket-outline.bracket-outline-inverted {
	border-left:0 none;
  border-right: 2px solid rgba(73, 189, 168, 0.5);
  padding: 28px 43px 28px 0;
}

@media (max-width: 768px){
	.bracket-outline,
	.bracket-outline.bracket-outline-inverted {
		border:0 none;
		padding:0;
	}
}

.bracket-outline.bracket-outline-inverted::before {
	left:auto;
	right: 0;
}

.bracket-outline.bracket-outline-inverted::after {
	left:auto;
  right: 0;
}
.bracket-outline.bracket-outline-inverted > div::before {
  left:auto;
  right: -29px;
}

@media (max-width: 768px) {
	.feature-slide .feature-slide-cont {
		padding: 0;
	}
	.feature-carousel.mobile-cont-active .owl-nav > div.owl-prev,
	.feature-carousel.mobile-cont-active .owl-nav > div.owl-next {
		top: 22px;
	}
	.feature-slide .top-subheader span {
		text-align: left;
	}
}