/*
* @author Prajwal Shrestha
* Custom CSS added by WP developer
*/

.sidebar-element.widget_recent_entries ul li, .sidebar-element .widget_recent_entries ul li,.sidebar-element.widget_categories ul li, .sidebar-element .widget_categories ul li ,.sidebar-element.widget_archive ul li, .sidebar-element .widget_archive ul li, .sidebar-element.widget_recent_entries ul li, .sidebar-element .widget_recent_entries ul li, .popular-posts ul li {

    margin-top: 13px;
    margin-bottom: 13px;
}

.sidebar-element.widget_recent_entries ul li a, .sidebar-element .widget_recent_entries ul li a,.sidebar-element.widget_categories ul li a, .sidebar-element .widget_categories ul li a,.sidebar-element.widget_archive ul li a, sidebar-element .widget_archive ul li a, .sidebar-element.widget_recent_entries ul li a, .sidebar-element .widget_recent_entries ul li a, .sidebar-element .popular-posts ul li a {
    color: rgba(255, 255, 255, 0.7);
}

.sidebar-element .popular-posts {
    margin-top: 30px;
}

.blog-post .more-link {
    color: #000;
}
/* Commented by Prajwal */
/*.btn-default:hover {*/
    /*color: #fff;*/
    /*background-color: #000;*/
/*}*/

p.login-error, span.wpcf7-not-valid-tip, label.error{
    font-size: 16px;
    font-weight: 300;
    color: #49bda8;
    text-transform: none;
    letter-spacing: -0.03em;
}
p.login-error-alt {
    font-size: 16px;
    font-weight: 300;
    color: #014765;
    text-transform: none;
    letter-spacing: -0.03em;
}

p.login-error a {
    color: #49bda8;
    text-decoration: underline;
}

p.login-error a:hover{
    color: #fff;
}

div.wpcf7-validation-errors {
    border: 2px solid #49bda8 !important;
}

.blog-post a {
    cursor: pointer;
}
p.login-success {

}
p.lost-password-description {

}

/*.reset-password-box button[type="submit"]:hover {*/
    /*color: #333;*/
/*}*/

.dropdown.cst-select-lg .dropdown-menu li::before {
  display:none;
}

.dropdown.cst-select-lg .dropdown-menu li {
  border-top: 1px solid #2f6881;
}

.hero-text {
  z-index: 2;
}
.sidebar .widget_text div.wpcf7-response-output{
    margin: 0;
}

header.header .btns-box .btn.profile-link {
    background: #49bda8;
    border-color: #49bda8;
    color: #fff;
    margin-right: 5px;
}

header.header .btns-box .btn.profile-link:hover {
    color: #636262;
    background: #fff;
}

#entryLanguages1 .btnLanguagesDel:first-of-type, #entryInfluencer1 .btnInfluencerDel:first-of-type{
    display:none;
}

.feed-grid .grid-sizer {
    height: 100%;
}

.nav-tabs > li {
    min-width: 0;
}

.mb20 {
    margin-bottom: 20px;
}
.pb0 {
    padding-bottom: 0;
}
/*
* Temporary fix for the overlapping embedding contents
*/
.feed-wrap {
    margin-bottom: 200px;
}

.feed-grid .feed-item {
    border: 0 none;
}

.feed-wrap {
    margin-bottom: 0;
}

.circle-num-wrap .cirle-num .unit {
    font-size: 35px;
}

p.circle-num-wrap-text {
    text-align: center;
    color: #4d4d4d;
    line-height: 1.2em;
}

.animation-carousel .owl-dots.disabled {
    display: block;
}

/* Added from *temp.css */
a.text-dark span,
a.text-dark:hover span,
a.text-dark:active span,
a.text-dark:focus span,
.bg-green a.text-dark:not(.btn),
.post-item-v1 a.text-dark:not(.btn)  {
    color: 	#4d4d4d!important;
}

.bracket-outline.bracket-outline-inverted {
    border-left:0 none;
    border-right: 2px solid rgba(73, 189, 168, 0.5);
    padding: 28px 43px 28px 0;
}

@media (max-width: 768px){
    .bracket-outline.bracket-outline-inverted {
        border:0 none;
    }
	.bracket-outline.bracket-outline-inverted {
		padding: 28px 15px 28px;
	}
    /*FINAL ADJUSTMENTS*/
    center.custom-xs-align a {
        display: block;
        margin-bottom: 20px;
    }
}
/*FINAL ADJUSTMENTS*/
@media (min-width: 768px){
    center.custom-xs-align a:first-child {
        margin-right: 60px;
    }
}
/*FINAL ADJUSTMENTS*/
.circle-num-wrap .cirle-num {
    line-height:160px;
}

.bracket-outline.bracket-outline-inverted::before {
    left:auto;
    right: 0;
}

.bracket-outline.bracket-outline-inverted::after {
    left:auto;
    right: 0;
}
.bracket-outline.bracket-outline-inverted > div::before {
    left:auto;
    right: -29px;
}

p.tagline-lg {
    font-size: 24px;
}

.next-case-study .load-more-ic-alt .fa {
    font-size: 35px;
    height: 35px;
    line-height: 35px;
    width: 35px;
}

.next-case-study .load-more-ic {
    font-size: 32px;
}

.next-case-study .load-more-ic-alt {
    line-height: 33px;
}

#pricing a:hover {
    text-decoration: none;
}
/*
* Added by real.it
*/
.modal-title {
    color: #fff;
    font-size: 24px;
}
.modal-header {
    background-color: #49bda8;
    text-align: center;
}

.feature-controls-dots>div {
    margin: 102px 30px 10px;
}
.feature-controls-dots>div:first-child {
    margin: 102px 5px 10px;
}

@media( max-width: 991px ) {
    header.header .btns-box .btn.profile-link{
        color: #49bda8;
        background: transparent;
    }
}

@media( max-width: 519px ) {
    #blog .post-cont .excerpt {
        display: none;

    }
}

