<section class="section bg-grey bg-white-xs">
    <div class="container">
        <div class="row text-center-xs">
            <div class="flex-center flex-revers">
                <div class="col-sm-6 col-xs-12 offset-bottom-xs-1">
                    <div class="bracket-outline">
                        <div>
                            <h2>100% Family Friendly</h2>
                            <p>Today’s families consume media in an entirely new way. Millennial parents are turning to digital content for education, entertainment, and clean programming that they can also enjoy with their children. </p>
<p>Trending Family’s unique approach allows brands to reach these families on their preferred platforms.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 text-center bg-grey-xs">
                    <div class="mega-overlay">
                    </div>
                    <div class=" owl-carousel overlay-slider ">
                        <div class="item">
                            <img class="" src="http://localhost.aadilprabhakar.in/trending-family/wp-content/uploads/2017/03/Circular-Influencer-Image.jpg" alt="Trending Family">
                        </div>
                        <div class="item">
                            <img class="" src="http://localhost.aadilprabhakar.in/trending-family/wp-content/uploads/2017/03/Circular-Influencer-Image.jpg" alt="Trending Family">
                        </div>
                        <div class="item">
                            <img class="" src="http://localhost.aadilprabhakar.in/trending-family/wp-content/uploads/2017/03/Circular-Influencer-Image.jpg" alt="Trending Family">
                        </div>
                    </div><!-- .owl-carousel -->
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
jQuery(function($){
    $('.overlay-slider').owlCarousel({
        items:1, loop: true, center: false, autoplay: true, dots:false
    });
});
</script>