@font-face {
  font-family: 'Gotham-ExtraLight';
  src: url('Gotham-ExtraLight.eot');
  src: url('Gotham-ExtraLight.woff2') format('woff2'),
       url('Gotham-ExtraLight.woff') format('woff'),
       url('Gotham-ExtraLight.ttf') format('truetype'),
       url('Gotham-ExtraLight.svg#Gotham-ExtraLight') format('svg'),
       url('Gotham-ExtraLight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Light';
  src: url('Gotham-Light.eot');
  src: url('Gotham-Light.woff2') format('woff2'),
       url('Gotham-Light.woff') format('woff'),
       url('Gotham-Light.ttf') format('truetype'),
       url('Gotham-Light.svg#Gotham-Light') format('svg'),
       url('Gotham-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-BookItalic';
  src: url('Gotham-BookItalic.eot');
  src: url('Gotham-BookItalic.woff2') format('woff2'),
       url('Gotham-BookItalic.woff') format('woff'),
       url('Gotham-BookItalic.ttf') format('truetype'),
       url('Gotham-BookItalic.svg#Gotham-BookItalic') format('svg'),
       url('Gotham-BookItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('Gotham-Book.eot');
  src: url('Gotham-Book.woff2') format('woff2'),
       url('Gotham-Book.woff') format('woff'),
       url('Gotham-Book.ttf') format('truetype'),
       url('Gotham-Book.svg#Gotham-Book') format('svg'),
       url('Gotham-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url('Gotham-Bold.eot');
  src: url('Gotham-Bold.woff2') format('woff2'),
       url('Gotham-Bold.woff') format('woff'),
       url('Gotham-Bold.ttf') format('truetype'),
       url('Gotham-Bold.svg#Gotham-Bold') format('svg'),
       url('Gotham-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: 
	   url('Myriad-Pro_31655.eot'),
	   url('Myriad-Pro_31655.woff2') format('woff2'),
       url('Myriad-Pro_31655.eot?#iefix') format('embedded-opentype'),
	   url('MyriadPro-Regular.woff') format('woff'),
       url('MyriadPro-Regular.ttf') format('truetype'),
       url('MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

