@import "bourbon/bourbon"; 
@import "vars";

// Custom-flex-box 

.flex-box {
	@include display(flex);
	@include flex-flow(row wrap);
	@include justify-content(flex-start);
	@include flex-direction(row);
	@include align-items(stretch);
	&.flex-revers {
		@include flex-direction(row-reverse);
	}
	&.justify-beetwen {
		@include justify-content(space-between);
	}
}

.flex-center {
	@include display(flex);
	@include flex-flow(row wrap);
	@include justify-content(flex-start);
	@include align-items(center);
	&.flex-revers {
		@include flex-direction(row-reverse);
	}
} 

.flex-center-full {
	@include display(flex);
	@include justify-content(center);
	@include align-items(center);
}

.flex-bottom {
	@include display(flex);
	@include flex-flow(row wrap);
	@include justify-content(flex-start);
	@include align-items(flex-end);
	&.flex-revers {
		@include flex-direction(row-reverse);
	}
}

@media (min-width: 768px) {
	.flex-display-sm {
		@include display(flex);
		@include flex-flow(row wrap);
		@include justify-content(flex-start);
		&.flex-revers {
			@include flex-direction(row-reverse);
		}
	}

	.flex-center-sm {
		@include display(flex);
		@include flex-flow(row wrap);
		@include justify-content(flex-start);
		@include align-items(center);
		&.flex-revers {
			@include flex-direction(row-reverse);
		}
	}
}

@media (min-width: 480px) {
	.flex-display-xxss {
		@include display(flex);
		@include flex-flow(row wrap);
		@include justify-content(flex-start);
		&.flex-revers {
			@include flex-direction(row-reverse);
		}
	}

	.flex-center-xxss {
		@include display(flex);
		@include flex-flow(row wrap);
		@include justify-content(flex-start);
		@include align-items(center);
		&.flex-revers {
			@include flex-direction(row-reverse);
		}
	}
}

svg path {
	@include transition(all 0.3s ease-in-out);
}

/* Basic ---------------------------------------------
 ----------------------------------------------------- */
::-webkit-input-placeholder { color:  #35363a; opacity: 1; }
:-moz-placeholder { color:  #35363a; opacity: 1; }
::-moz-placeholder { color:  #35363a; opacity: 1; }
:-ms-input-placeholder { color:  #35363a; opacity: 1; }

:focus::-webkit-input-placeholder {color: transparent;}
:focus::-moz-placeholder          {color: transparent;}
:focus:-moz-placeholder           {color: transparent;}
:focus:-ms-input-placeholder      {color: transparent;}

::-moz-selection { background: #49bda8; color: #fff; }
::selection { background: #49bda8; color: #fff; }

textarea {
	resize: vertical;
}

input:focus,
textarea:focus {
	outline: none;
}

img {
	height: auto;
	max-width: 100%;
	width: auto\9;
}

.img-bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.map-box {
	width: 100%;
	height: 0;
	padding: 50% 0 0;
	margin: 0;
}

.map-box img {
	max-width: none;
}

.video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}
.video iframe,
.video object,
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.break-word {
	word-wrap: break-word;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.btn {
	&.btn-outline {
		&.btn-success {
			border-color: $green;
			color: $green;
			background: transparent;
			&:hover, &:focus, &:active {
				border-color: $green-d;
				color: #fff;
				background: #49bda8;
			}
		}
	}
}

.btn-text {
	font-weight: 700;
	.fa {
		padding-left: 6px;
		font-size: 22px;
	}
	&:hover {
		text-decoration: none;
	}
}

.green-full-centered {
	height: calc(100vh - 80px);
	background-color: #49bda8;
	text-align: center;
}

/* Header ---------------------------------------------
----------------------------------------------------- */

header.header {
	.container{
		max-width: 1110px;
		width: 100%;
	}
	.navbar {
		& > .container {
			@include transition(all 0.3s ease-in-out);
			padding-top: 13px;
			padding-bottom: 16px;
			position: relative;
		}
		.navbar-brand > img,
		ul.nav.navbar-center {
			@include transition(all 0.3s ease-in-out);
		}
		/*&.sticked {
			& > .container {
				padding-top: 6px;
				padding-bottom: 8px;
			}
			.navbar-brand > img {
				max-height: 40px;
			}
			ul.nav.navbar-center {
				margin-top: 2px;
			}
			.btns-box {
				top: 10px;
			}
		}*/
	}
	.btns-box {
		position: absolute;
		top: 25px;
		right: 15px;
		@include transition(all 0.3s ease-in-out);
		.btn {
			height: 32px;
			font-size: 14px;
			text-transform: uppercase;
			padding: 7px 25px;
			border-color: $green;
			color: #636262;
			background: #fff;
			font-weight: 600;
			.fa {
				display: none;
			}
			&:hover {
				background: $green;
				border-color: $green;
				color: #fff;
			}
		}
	}
	.main-menu {
		font-size: 14px;
		text-transform: uppercase;
		a {
			position: relative;
			&:before {
				content: "";
				position: absolute;
				width: 100%;
				height: 2px;
				bottom: 0;
				left: 0;
				background-color: $green;
				visibility: hidden;
				@include transform(scaleX(0));
				@include transition(all 0.3s ease-in-out);
			}
		}
		a:hover:before,
		li.current_page_item a:before,
		li.active > a:before {
			visibility: visible;
			@include transform(scaleX(1));
		}
	}
}

.mobile-bar {
	position: fixed;
	top: 0;
	left: -275px;
	bottom: 0;
	width: 275px;
	background: #014765;
	color: #fff;
	z-index: 700;
	padding: 6px 0;
	overflow: hidden;
	overflow-y: auto;
	@include transition(all 0.24s ease-in-out);
	a,
	.nav > li > a {
		color: inherit;
	}
	.main-logo {
		max-height: 34px;
		display: block;
		padding-left: 15px;
		img {
			max-height: 34px;
			-webkit-filter: brightness(0) invert(1);
			filter: brightness(0) invert(1);
		}
	}
	.mob-bar-head {
		border-bottom: 1px solid rgba(255,255,255,0.1);
		height: 44px;
		margin-bottom: 35px;
	}
	.navbar-nav {
		margin-left: 0;
		margin-right: 0;
	}
	ul.nav {
		font-size: 14px;
		font-weight: 400;
		& > li {
			border-bottom: 1px solid #33597a;
			overflow: hidden;
			&:last-child {
				border-bottom: 0;
			}
			& > a {
				display: block;
				padding: 15px 15px 6px;
				background: transparent;
				position: relative;
				padding-right: 22px;
				font-size: 26px;
				&.dropdown-toggle:after {
					content: "\f107";
					display: block;
					font: normal normal normal 14px/1 FontAwesome;
					font-size: inherit;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					position: absolute;
					top: 31px;
					right: 2px;
					opacity: 0.75;
				}
			}
			a:hover,
			a:focus,
			&.active a {
				background: transparent;
				color: #8ac7b4;
			}
			.dropdown-menu {
				position: relative;
				background: transparent;
				border-radius: 0;
				box-shadow: none;
				padding: 0;
				border: 0;
				padding: 0 0 0 15px;
				width: 100%;
				a {
					color: inherit;
					padding: 8px 0;
				}
				li {
					border-top: 1px solid rgba(255,255,255,0.1);
				}
			}
		}
	}
}

.login-popup-box-wrap {
	position: fixed;
	right: 0;
	left: 0;
	top: 62px;
	z-index: 610;
	overflow: hidden;
	max-height: 0;
	@include transition(all 0.45s ease-in-out);
	.login-popup-box {
		background: $blue;
		color: #f5f6f6;
		border-radius: 8px;
		max-width: 356px;
		width: 100%;
		padding: 30px 25px 12px;
		position: relative;
		float: right;
		margin: 12px 0 15px;
		opacity: 0;
		box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.3);
		@include transition(all 0.45s ease-in-out);
		&:before {
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 7px 12px 7px;
			border-color: transparent transparent $blue transparent;
			position: absolute;
			top: -12px;
			right: 35px;
		}
		.form-control {
			background-color: #fff;
			background: transparent;
			color: #fff;
			font-size: 16px;
			height: 50px;
			border-radius: 8px;
			font-weight: 300;
			&::-webkit-input-placeholder { color:  #fff; opacity: 1; }
			&:-moz-placeholder { color:  #fff; opacity: 1; }
			&::-moz-placeholder { color:  #fff; opacity: 1; }
			&:-ms-input-placeholder { color:  #fff; opacity: 1; }

			&:focus::-webkit-input-placeholder {color: transparent;}
			&:focus::-moz-placeholder          {color: transparent;}
			&:focus:-moz-placeholder           {color: transparent;}
			&:focus:-ms-input-placeholder      {color: transparent;}

			&:focus {
				box-shadow: 0 0 0 1px #fff;
			}
		}
		.btn {
			padding: 9px 25px 5px;
			font-size: 14px;
			border-radius: 2px;
			&.btn-default {
				background: #fff;
				border-color: #fff;
				color: $blue;
				&:hover {
					background: rgba(255,255,255,0.8);
					border-color: rgba(255,255,255,0.2);

				}
			}
			&.btn-link {
				font-size: 16px;
				padding-left: 0;
				padding-right: 0;
				font-weight: 300;
				color: inherit;
				text-transform: none;
				letter-spacing: -0.03em;
				&:hover {
					color: #fff;
				}
			}
		}
	}
}

body.login-popup-active .login-popup-box-wrap {
	max-height: 1000px;
	.login-popup-box {
		opacity: 1;
	}
}

/* Homepage Overrides ----------------------------------
----------------------------------------------------- */
div.mega-overlay {
	position:absolute;width:100%;height:100%;z-index:88;
	background-image:url('../images/owl-overlay.png'); background-repeat:no-repeat;
	background-size:97% 100%; background-position:left center;
}

div.mega-image-container{
    width: 100%;
    padding-bottom: 100%;
    background-position:center center; 
    background-repeat:no-repeat;
    background-size:cover;
}

/* Footer ---------------------------------------------
----------------------------------------------------- */

footer.footer {
	background: #313131;
	color: #5d5c5c;
	padding: 24px 0 20px;
	font-size: 14px;
	a:not(.btn) {
		color: inherit;
		&:hover {
			color: #7d7c7c;
		}
	}
	.social-links {
		font-size: 34px;
		line-height: 1em;
		margin-bottom: 4px;
		a {
			display: inline-block;
			margin: 0 2px 5px;
			@include transition(all 0.3s ease-in-out);
			&:hover {
				color: $green;
			}
		}
	}
	p {
		margin: 0 0 8px;
	}
	.copyright {
		text-transform: uppercase;
		font-size: 12px;
	}
}

/* Content ---------------------------------------------
----------------------------------------------------- */

.wrapper {
	width: 100%;
	overflow: hidden;
}

.video-link {
	cursor: pointer;
	position: relative;
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	&:before {
		content: "\f04b";
		display: block;
		font: normal normal normal 14px/1 FontAwesome;
		text-rendering: auto;
		width: 66px;
		height: 66px;
		line-height: 58px;
		text-align: center;
		font-size: 30px;
		border: 4px solid $green;
		border-radius: 50%;
		background: #fff;
		color: $green;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -33px;
		margin-left: -33px;
		z-index: 4;
		@include transition(all 0.3s ease-in-out);
	}
	&:hover {
		&:before {
			@include transform(scale(1.08));
			box-shadow: 0 0 22px rgba(0,0,0,0.75);
		}
	}
}

.main-carousel {
	.slide-item {
		overflow: hidden;
		position: relative;
		background-size: cover;
		background-position: relative;
		background-repeat: no-repeat;
		display: block;
		width: 100%;
		width: calc(100% + 1px);
		height: 100vh;
		height: calc(100vh - 84px);
		img {
			display: block;
			width: 100%;
			@include transition(all 0.5s ease-in-out);
			@include filter(grayscale(1));
		}
		.bg-img {
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			@include transition(all 0.5s ease-in-out);
			@include filter(grayscale(1));
		}
		.slide-cont {
			font-family: 'Overpass', sans-serif;
			position: absolute;
			bottom: 27px;
			left: 0;
			display: inline-block;
			background: rgba($green, 0.2);
			color: #fff;
			font-size: 23px;
			font-weight: 100;
			padding: 20px 28px 10px;
			min-width: 60%;
			@include transition(all 0.5s ease-in-out);
			.brend-logo {
				width: auto;
				height: 50px;
				display: inline-block;
			}
			p {
				margin-bottom: 0;
			}
		}
		&:hover {
			.bg-img {
				@include filter(grayscale(0));
			}
			.slide-cont {
				background: rgba($green, 0.8);
			}
		}
	}
	/*.owl-item {
		&.center {
			.slide-item {
				img {
					@include filter(grayscale(0));
					@include transform(scale(1.04));
				}
				.slide-cont {
					background: rgba($green, 0.8);
				}
			}
		}
	}*/
	.owl-nav {
		& > div {
			position: absolute;
			top: 50%;
			margin-top: -16px;
			left: 28px;
			&.owl-next {
				left: auto;
				right: 28px;
			}
		}
	}
}

.bg-white {
	background: #fff;
}

.bg-grey {
	background: #eceded;
}

.bg-green {
	background: $green;
	color: #f5f6f6;
	a:not(.btn) {
		color: inherit;
	}
	.owl-carousel .owl-dots .owl-dot span {
		background: #e6e8e8;
	}
	.owl-carousel .owl-dots .owl-dot.active span,
	.owl-theme .owl-dots .owl-dot:hover span {
		background: #313131;
	}
	.feature-controls-dots {
		& > div {
			&:after {
				border-color: transparent transparent #5BC3B1 transparent;
				display: inline;
			}
		}
	}
	&.btn {
		border-color: $green;
		&:hover {
			color: $green;
		}
	}
	.feature-slide {
		.btn {
			border-color: #51ad9d;
			color: #51ad9d;
			&:hover {
				background: #4abea8;
				border-color: #a6dad0;
				color: #fff;
			}
		}
	}
}

.bg-blue {
	background: $blue;
	color: #f5f6f6;
	a:not(.btn) {
		color: inherit;
	}
	.btn-default:not(:hover),
	.btn-default:not(:focus) {
		color: $blue;
	}
	.feature-controls-dots {
		& > div {
			&:after {
				border-color: transparent transparent #1A5974 transparent;
				display: inline;
			}
		}
	}
	.btn.btn-default {
		border-color: #014765;
		color: #014765;
		&:hover {
			background: #014765;
			border-color: #628ea1;
			color: #fff;
		}
	}
	.title-box h2 .btn-collapse-section {
		color: #a3bdc7;
	}
	.owl-carousel .owl-nav [class*='owl-'] {
		color: $blue;
		border-color: $blue;
		&:hover {
			box-shadow: 0 0 0 3px $blue;
		}
	}
}

.text-white {
	color: #fff;
}

.text-light {
	color: #f5f6f6;
}

.text-dark {
	color: #4d4d4d;
}

.section {
	padding-top: 80px;
	padding-bottom: 80px;
	position: relative;
	&.pad-no {
		padding-top: 0;
		padding-bottom: 0;
	}
	&.pad-xs {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	&.pad-sm {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	&.pad-md {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	&.pad-lg {
		padding-top: 105px;
		padding-bottom: 105px;
	}
	&.pad-top-0 {
		padding-top: 0;
	}
	&.pad-bottom-0 {
		padding-bottom: 0;
	}
	&.collapse-animation {
		max-height: 99000px;
		overflow: hidden;
		@include transition(all 0.3s ease-in-out);
	}
	&.collapse-section {
		max-height: 0;
		.data-markers-descript {
			max-height: 0;
			overflow: hidden;
		}
		.btn-collapse-section {
			top: 18px;
			&:before {
				content: "Expand";
			}
			&:after {
				transform: rotate(180deg);
			}
		}
	}
}

.pad-no {
	padding-top: 0;
	padding-bottom: 0;
}
.pad-xs {
	padding-top: 30px;
	padding-bottom: 30px;
}
.pad-sm {
	padding-top: 50px;
	padding-bottom: 50px;
}

.row {
	&.row-xs {
		margin-right: -5px;
		margin-left: -5px;
		.col-xs-12,
		.col-xs-6 {
			padding-right: 5px;
			padding-left: 5px;
		}
	}
	&.row-sm {
		margin-right: -10px;
		margin-left: -10px;
		.col-xs-12,
		.col-xs-6 {
			padding-right: 10px;
			padding-left: 10px;
		}
	}
	&.row-md {
		margin-right: -20px;
		margin-left: -20px;
		.col-xs-12,
		.col-xs-6 {
			padding-right: 25px;
			padding-left: 25px;
		}
	}
	&.row-lg {
		margin-right: -30px;
		margin-left: -30px;
		.col-xs-12,
		.col-xs-6 {
			padding-right: 30px;
			padding-left: 30px;
		}
	}
}

[class*="col-"] {
	&.pad-no {
		padding-left: 0;
		padding-right: 0;
	}
}

h2 {
	& + .subtitle {
		font-size: 24px;
		margin-top: -15px;
	}
}

.big-text {
	font-size: 24px;
}

.txt-wlight {
	font-weight: 100;
}

.opacity-md {
	opacity: 0.7;
}

.col-box {
	position: relative;
	.col-box-link {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		@include transition(all 0.3s ease-in-out);
		&.left {
			left: auto;
		}
		&:hover {
			opacity: 0.85;
		}
	}
}

.hg-hfull {
	min-height: calc(100vh - 84px);
}

.hg-full {
	min-height: 100vh;
}

.img-heart {
	display: block;
	position: relative;
	height: 0;
	padding-bottom: 116%;
	img {
		display: block;
		position: absolute;
		top: 25%;
		left: 6%;
		width: 88%;
		@include transition(all 0.3s ease-in-out);
	}
	&.video-link {
		&:before {
			top: 60%;
		}
	}
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 5;
		background: url(../images/heart-wrap.svg) no-repeat;
		background-size: 100% 100%;
	}
	&:hover {
		img {
			@include filter(contrast(1.25));;
		}
	}
}

img.img-circle {
	border-radius: 50%;
	overflow: hidden;
	border: 3px solid #dadada;
	&.v2 {
		border: 8px solid #fff;
	}
	&.v3 {
		border: 8px solid $green;
	}
}

.post-carousel .owl-stage {
	@extend .flex-box;
	.owl-item,
	.post-item {
		min-height: 100%;
	}
}

.post-item-v1 {
	@extend .bg-green;
	border: 1px solid #c9cbcb;
	border-radius: 4px;
	position: relative;
	padding: 20px 17px 23px;
	text-align: center;
	margin-top: 50%;
	font-size: 16px;
	font-weight: 100;
	line-height: 1.25em;
	.post-cont {
		max-width: 240px;
		margin: auto;
	}
	.thumb-circle {
		display: block;
		margin-top: calc(-50% - 10px);
		margin-bottom: 40px;
		height: 0;
		padding: 0 0 100%;
		border-radius: 50%;
		overflow: hidden;
		background-position: center;
		background-size: cover;
		font-size: 0;
		text-indent: -9999px;
		@include transition(all 0.3s ease-in-out);
		box-shadow: inset 0 0 0 0 rgba($blue, 0.4), inset 0 0 0 0 rgba($green-d,0.6);
		&:hover {
			box-shadow: inset 0 0 0 140px rgba($blue, 0.3), inset 0 0 0 6px rgba($green-d,0.8);
		}
	}
	.btn {
		margin-top: 25px;
		&.btn-default {
			&:hover {
				background: #4abea8;
				border-color: #a6dad0;
				color: #fff;
			}
		}
	}
}

.brand-carousel {
	img {
		@include transition(all 0.3s ease-in-out);
		display: block;
		margin: auto;
		opacity: 0.5;
		@include filter(grayscale(1));
		&:hover {
			@include filter(grayscale(0));
			opacity: 1;
		}
	}
}

.form-line-style {
	.form-group {
		margin-bottom: 44px;
	}
	.form-control {
		background: transparent;
		height: auto;
		border-radius: 0;
		font-size: 23px;
		border: 0;
		border-bottom: 3px solid rgba(255,255,255,0.15);
		padding: 1px 0;
		color: #fff;
		font-weight: 100;
		&::-webkit-input-placeholder { color:  #fff; opacity: 0.5; }
		&:-moz-placeholder { color:  #fff; opacity: 0.5; }
		&::-moz-placeholder { color:  #fff; opacity: 0.5; }
		&:-ms-input-placeholder { color:  #fff; opacity: 0.5; }
		&:hover,
		&:focus {
			box-shadow: none;
			border-color: rgba(255,255,255,0.35);
			&:focus::-webkit-input-placeholder {color: transparent;}
			&:focus::-moz-placeholder          {color: transparent;}
			&:focus:-moz-placeholder           {color: transparent;}
			&:focus:-ms-input-placeholder      {color: transparent;}
		}
	}
}

.testimonial-item {
	blockquote {
		padding-top: 15px;
		p {
			display: inline;
		}
		&:before {
			content: "“";
			font-size: 2.5em;
			line-height: 0.4em;
			vertical-align: bottom;
			font-weight: 100;
			font-family: italic;
			padding-right: 5px;
		}
		&:after {
			content: "”";
			font-size: 2.5em;
			line-height: 0.4em;
			vertical-align: bottom;
			font-weight: 100;
			font-family: italic;
		}
	}
	.author {
		font-size: 18px;
		font-weight: 100;
		margin: 18px 0 0;
	}
}

.feature-carousel {
	&.owl-carousel .owl-nav > div.owl-prev {
		top: 22px;
		left: 5px;
	}
	&.owl-carousel .owl-nav > div.owl-next {
		top: 22px;
		right: 5px;
	}
	&.mobile-cont-active {
		.owl-nav > div.owl-prev {
			top: 85px;
			left: 0;
		}
		.owl-nav > div.owl-next {
			top: 85px;
			right: 0;
		}
	}
}

.feature-controls-dots {
	text-align: center;
	margin-bottom: 20px;
	&.bordered {
		& > div {
			.icon {
				border-radius: 50%;
				overflow: hidden;
				background-size: cover;
			}
			&.active,
			&.active:hover {
				.icon {
					box-shadow: 0 0 0 6px #fff;
					@include transform(scale(1.2));
					bottom: 72px;
				}
			}
		}
	}
	& > div {
		width: 20%;
		display: inline-block;
		display: flex;
		cursor: pointer;
		position: relative;
		border: 1px solid rgba(255,255,255,0.35);
		border-radius: 3px;
		font-size: 14px;
		padding: 6px 9px;
		width: 116px;
		min-height: 46px;
		line-height: 1.1em;
		margin: 100px 5px 10px;
		@extend .flex-center;
		@include justify-content(center);
		@include transition(all 0.2s ease-in-out);
		&:before,
		&:after {
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 18px 10px;
			border-color: transparent transparent rgba(255,255,255,0.2) transparent;
			position: absolute;
			left: 50%;
			margin-left: -10px;
			bottom: -31px;
			z-index: 6;
			opacity: 0;
			@include transition(all 0.2s ease-in-out);
		}
		&:after {
			border-color: transparent transparent rgba(255,255,255,0.1) transparent;
			bottom: -34px;
			z-index: 7;
			display: none;
		}
		.icon {
			display: block;
			width: 114px;
			height: 114px;
			font-size: 0;
			color: transparent;
			background-size: 90%;
			background-repeat: no-repeat;
			background-position: bottom center;
			position: absolute;
			top: auto;
			left: 0;
			right: 0;
			bottom: 58px;
			@include transition(all 0.2s ease-in-out);
			@include filter(grayscale(1));
		}
		&.active,
		&.active:hover {
			background-color: rgba(255,255,255,0.1);
			border-color: rgba(255,255,255,0.6);
			&:before,
			&:after {
				opacity: 1;
			}
			.icon {
				@include filter(grayscale(0));
			}
		}
		&:hover {
			background-color: rgba(255,255,255,0.03);
		}
	}
	&.stl-2 {
		& > div {
			border: 1px solid $blue;
			color: #4d4d4d;
			&:before {
				border-color: transparent transparent #cacccc transparent;
				bottom: -31px;
				display: block;
				opacity: 0;
			}
			&:after {
				border-color: transparent transparent #fff transparent;
				bottom: -33px;
				display: block;
				opacity: 0;
			}
			&.active,
			&.active:hover {
				background-color: #fff;
				border-color: #4d4d4d;
				color: #4d4d4d;
				.icon {
					box-shadow: 0 0 0 6px $green;
				}
				&:before,
				&:after {
					opacity: 1;
				}
			}
		}
	}
}

.feature-slide {
	.top-subheader {
		max-width: 155px;
		display: none;
		float: none;
		position: relative;
		border: 1px solid #fff;
		border-radius: 3px;
		font-size: 14px;
		padding: 9px 2px;
		text-align: center;
		line-height: 1.1em;
		margin: 0 auto 25px;
		background: rgba(255,255,255,0.1);
		position: relative;
		min-height: 50px;
		border-radius: 3px;
		@extend .flex-center;
		img {
			display: inline-block;
			width: 38px;
			margin-right: 5px;
		}
		span {
			display: inline-block;
			max-width: calc(100% - 70px);
			width: 70%;
			line-height: 1.2em;
		}
	}
	.feature-slide-cont {
		background: rgba(255,255,255,0.1);
		border-radius: 3px;
		border: 1px solid rgba(255,255,255,0.1);
		padding: 34px 34px 16px;
		font-weight: 100;
		@include transition(all 0.2s ease-in-out);
	}
	h3 {
		font-size: 22px;
		margin-bottom: 20px;
		.txt-sm {
			font-size: 14px;
			font-weight: 300;
		}
	}
	p {
		opacity: 0.9;
	}
	.text-sm {
		font-size: 12px;
	}
	.btn {
		padding-left: 38px;
		padding-right: 38px;
		font-weight: 400;
	}
	&.stl-2 {
		.top-subheader-img {
			margin-bottom: 35px;
			.img-circle {
				display: block;
				margin: 0 auto 10px;
			}
			.subhead-btn {
				border: 1px solid #c9cbcb;
				border-radius: 3px;
				padding: 13px 30px;
				margin: 0 auto;
				display: inline-block;
			}
		}
		.feature-slide-cont {
			background: #fff;
			border: 1px solid #cacccc;
		}
	}
}

.load-more-ic {
	font-size: 15px;
	font-weight: 700;
	line-height: 24px;
	vertical-align: bottom;
	.fa {
		height: 24px;
		line-height: 24px;
		width: 24px;
		text-align: center;
		font-size: 20px;
		vertical-align: baseline;
		&.wg-circle {
			background: #fff;
			color: $green;
			border-radius: 50%;
			margin-right: 7px;
		}
	}
}

.animation-carousel {
	.owl-item {
		.img-wrap {
			background: #888;
			box-shadow: 0 3px 8px rgba(0,0,0,0.25);
			img {
				@include transition(all 0.45s ease-in-out);
				opacity: 0.35;
				border: 0 solid $blue;
				@include filter(grayscale(0.5));
			}
		}
		.slide-item {
			@include transition(all 0.45s ease-in-out);
		}
		&.center {
			.slide-item {
				img {
					display: block;
					width: 100%;
					@include filter(grayscale(0));
				}
			}
		}
	}
	.owl-nav [class*='owl-'] {
		margin-top: -45px;
	}
}

@media (min-width: 768px) {
	.animation-carousel {
		.owl-item {
			padding: 2.5% 0 2.5%;
			.slide-item {
				@include transform(scale(1));
			}
			&.center {
				padding-left: 0;
				padding-right: 0;
				z-index: 30;
				.slide-item {
					@include transform(scale(1.54));
				}
				.img-wrap {
					img {
						opacity: 1;
						border-width: 3px;
					}
				}
			}
		}
		.owl-controls {
			margin: 0;
		}
	}
}

.circle-num-wrap {
	display: block;
	width: 186px;
	margin: 0 auto 25px;
	text-align: center;
	color: #4d4d4d;
	line-height: 1.2em;
	.cirle-num {
		width: 174px;
		height: 174px;
		line-height: 174px;
		border: 8px solid #fff;
		border-radius: 50%;
		color: #fff;
		text-align: center;
		font-size: 50px;
		margin: 0 auto 24px;
	}
}

.results-table {
	thead > tr > th,
	tbody > tr > th,
	tfoot > tr > th,
	thead > tr > td,
	tbody > tr > td,
	tfoot > tr > td {
		padding-left: 5%;
		padding-right: 5%;
	}
	.status-marker {
		width: 20px;
		height: 20px;
		display: inline-block;
		border-radius: 50%;
		vertical-align: middle;
		background: $blue;
		margin-left: 40px;
		&.active {
			background: $green;
		}
	}
}

.triangle {
	font-size: 25px;
	color: #dcdcdc;
	position: relative;
	bottom: 4px;
}

.stats-table {
	overflow: scroll;
	thead > tr > th,
	tbody > tr > th,
	tfoot > tr > th,
	thead > tr > td,
	tbody > tr > td,
	tfoot > tr > td {
		padding-left: 30px;
		padding-right: 30px;
	}
	table {
		height: 100%;
		table-layout: fixed;
		thead {
			min-width: 1080px;
			tr {
				display: block;
				position: relative;
			}
			th {
				font-weight: 800;
				min-width: 160px;
			}
		}
		tbody {
			display: block;
			min-width: 1080px;
			height: 505px;
			tr {
				width: 100%;
				&:last-child {
					margin-bottom: 8px;
				}
			}
			tr td {
				padding-top: 12px;
				padding-bottom: 12px;
				line-height: 1.42857143;
				vertical-align: top;
				border-top: 1px solid #e5e5e5;
				vertical-align: middle;
				min-width: 200px;
				width: auto;
			}
		}
		thead,
		tbody tr {
			display: table;
			table-layout: fixed;
		}
		td, th {
			border-collapse: collapse;
		}
		td {
			white-space: wrap;
		}
		td[data-title="URL"], thead th:nth-child(2) {
			min-width: 230px;
			width: 230px;
			padding-left: 55px;
			padding-right: 40px;
		}
		td[data-title="Channel"], thead th:nth-child(1) {
			background-color: #fff;
			min-width: 210px;
			width: 210px;
			padding-right: 35px;
			padding-left: 55px;
		}
		td[data-title="Channel"] {
			font-weight: 600;
		}
	}
}

.table {
	.thumb-circle {
		width: 55px;
		height: 55px;
		overflow: hidden;
		border-radius: 50%;
		display: block;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.without-hp {
		padding-left: 0;
		padding-right: 0;
	}
}

.table-social {
	tr {
		td {
			height: 88px;
		}
		th {
			&.col-logo {
				width: 115px;
			}
			.fa {
				padding-left: 6px;
			}
		}
		&:last-child {
			td {
				border-bottom: 1px solid #e5e5e5;
			}
		}
	}
	em {
		font-style: normal;
	}
	i:not(.fa) {
		color: #808080;
	}
	.fa {
		font-size: 20px;
		vertical-align: top;
	}
	.btn-disconect {
		opacity: 0;
		display: block;
		font-weight: 700;
		@include transition(all 0.45s ease-in-out);
		span {
			padding-right: 6px;
		}
		.fa {
			vertical-align:top;
		}
	}
	tr:hover {
		.btn-disconect {
			opacity: 1;
		}
	}
	a:hover {
		text-decoration: none;
	}
}

.btn.btn-save-influencer {
	position: fixed;
	right: 15px;
	bottom: 15px;
}

.btn.btn-add {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 7px 15px 3px;
}

.p-title {
	h1, h2 {
		margin-bottom: 0;
		img {
			max-height: 44px;
			vertical-align: top;
		}
	}
}

.hero-box {
	img {
		width: 100%;
	}
}

// Alternative hero option
.hero-bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 80vh;
	position: relative;
}

.hero-overlay {
	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(60,67,66, .8);
	}
}

.hero-text {
	max-width: 740px;
	z-index: 1;
	h1 {
		color: white;
		font-size: 72px;
		line-height: 1.2;
		letter-spacing: 1px;
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.articles-list, .sidebar {
	padding-left: 5px;
	padding-right: 5px;
}

.blog-title {
	padding-left: 3px;
}

.blog-post {
	margin-bottom: 50px;
	img {
		margin-bottom: 30px;
	}
	.blog-post-content{
		text-align: right;
	}
	p {
		font-weight: 600;
		margin-bottom: 0;
		text-align: left;
		padding-right: 15px;
		font-size: 18px;
	}
	a.btn {
		margin-right: 15px;
	}
}

.sidebar-element {
	padding: 22px 35px;
	border-radius: 5px;
	margin-bottom: 34px;
	.search {
		margin-bottom: 44px;
		span {
			background-color: white;
			border-radius: 25px 0 0 25px;
			i {
				color: rgba(76, 76, 76, 0.5);
				font-size: 20px;
				padding-left: 10px;
				padding-right: 5px;
			}
		}
		input {
			border-radius: 50px;
			border: 0;
			padding-bottom: 1px;
			padding-left: 3px;
		}
	}
	h4 {
		text-transform: uppercase;
		font-weight: 800;
		font-size: 24px;
		margin-top: 10px;
	}
	.list {
		li {
			margin-top: 13px;
			margin-bottom: 13px;
			a {
				color: rgba(255, 255, 255, 0.7);
			}
		}
	}
	.form-line-style {
		.form-control {
			font-size: 16px;
		}
		.form-group {
			margin-bottom: 20px;
		}
		input[type="submit"] {
			width: 100%;
			font-weight: 600;
			margin-bottom: 30px;
			font-size: 18px;
		}
	}
}

.not-found-page {
	.message {
		position: absolute;
		top: 56%;
		transform: translateY(-50%);
		width: 100%;
		img {
			position: absolute;
			left: 50%;
			transform: translate3d(-50%,-50%,0);
			top: 40px;
			z-index: -1;
		}
		h1,h4 {
			color: white;
		}
		h1 {
			font-size: 124px;
			margin-bottom: -20px;
			font-weight: 100;
		}
		h4 {
			font-size: 24px;
			font-weight: 300;
			margin-bottom: 20px;
		}
	}
	.btn {
		border: 1px solid white;
		color: white;
		font-weight: 600;
		padding: 7px 20px 5px 20px;
		&:hover {
			background-color: white;
			color: $green;
		}
	}
}

@media (min-height: 800px) {
	.not-found-page .message {
		top: 55%;
	}
}

.post-article {
	.container {
		max-width: 960px;
	}
	h4 {
		margin-bottom: 0;
	}
	a {
		font-weight: 700;
	}
	p {
		margin-bottom: 25px;
	}
	ul {
		padding-left: 0;
		margin-bottom: 25px;
		li {
			position: relative;
			padding-left: 12px;
			&:before {
				content: "•";
				color: $green;
				display: block;
				position: absolute;
				left: 0;
				top: 2px;
			}
		}
	}
	img.full-size {
		width: 100%;
	}
	blockquote {
		color: #808080;
		font-weight: 300;
		line-height: 1.3em;
		font-size: 16px;
		font-style: italic;
		padding: 10px 20px;
		margin: 0 0 30px;
		border-left: 9px solid $blue;
	}
}

.post-title-box {
	h1, h2 {
		margin-bottom: 0;
	}
}

.meta-date {
	color: #808080;
	font-weight: 100;
	font-style: italic;
}

.meta-tags {
	padding-left: 40px;
	position: relative;
	&:before {
		content: "\f02b";
		color: #cccccc;
		display: block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: 24px;
		line-height: 35px;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
		-webkit-transform: scale(-1, 1);
		-ms-transform: scale(-1, 1);
		transform: scale(-1, 1);
		position: absolute;
		top: 0;
		left: 0;
	}
	a {
		display: inline-block;
		background: $blue;
		color: #fff;
		font-size: 14px;
		font-weight: 300;
		padding: 9px 10px 8px;
		border-radius: 3px;
		display: inline-block;
		margin: 0 2px 5px 0;
		text-transform: lowercase;
		@include transition(all 0.3s ease-in-out);
		&:hover {
			text-decoration: none;
			background: $green;
		}
	}
}

.to-posts-btns {
	a {
		display: block;
		width: 115px;
		height: 115px;
		line-height: 125px;
		padding: 0;
		background: #d5d5d5;
		color: #fff;
		font-size: 30px;
		border-radius: 50%;
		position: fixed;
		top: 50%;
		margin-top: -58px;
		z-index: 15;
		@include transition(all 0.3s ease-in-out);
		.fa {
			@include transition(all 0.3s ease-in-out);
		}
		&:hover {
			background: $green;
		}
		&.to-prew {
			text-align: right;
			padding-right: 70px;
			left: -85px;
			&:hover {
				padding-right: 19px;
				left: -60px;
			}
		}
		&.to-next {
			text-align: left;
			padding-left: 70px;
			right: -85px;
			&:hover {
				padding-left: 19px;
				right: -60px;
			}
		}
	}
}

fieldset,
.fieldset {
	position: relative;
	display: block;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	padding: 20px 18px 15px;
	margin-bottom: 48px;
	.legend,
	legend {
		margin-bottom: 25px;
		font-size: 18px;
		em {
			font-style: normal;
			color: #918e8e;
		}
	}
}

.form-row {
	position: relative;
	.btn-add {
		font-size: 20px;
		position: absolute;
		left: 15px;
		top: 40px;
	}
	&.form-row-wl {
		.btn-add {
			top: 17px;
		}
	}
}

.profile-options-box {
	.btn-lg {
		padding-left: 35px;
		padding-right: 35px;
	}
}

.chart-box {
	background: #fff;
	padding: 4px;
	h4 {
		border-bottom: 2px solid $green;
		padding-bottom: 10px;
		margin-bottom: 25px;
	}
	canvas {
		width: 100%;
		height: 32%;
	}
}

.data-markers-descript {
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	.circle-mark {
		width: 28px;
		height: 28px;
		border-radius: 50%;
		background: #1a5974;
		margin: 0 auto 10px;
		&.mark-complete {
			background: #f6f6f6;
		}
		&.mark-progress {
			background: #7c9fae;
		}
	}
}

.data-carousel {
	.data-values {
		border-radius: 3px;
		background: #1a5974;
		color: #fff;
		font-weight: 400;
		font-size: 14px;
		text-align: center;
		padding: 5px 5px 3px;
		&.mark-complete {
			background: #f6f6f6;
			color: $blue;
		}
		&.mark-progress {
			background: #7c9fae;
			color: #fff;
		}
		p {
			margin: 0;
		}
	}
	&.owl-carousel .owl-nav [class*='owl-'] {
		background: $blue;
		color: #f6f6f6;
		border: 3px solid #f6f6f6;
		&:hover {
			background: $blue;
			color: #fff;
			border: 3px solid #fff;
			box-shadow: none;
		}
	}
}

.feed-grid {
	.feed-item {
		background: #fff;
		border: 1px solid #cacfd9;
		width: calc(50% - 13px);
		overflow: hidden;
		border-radius: 3px;
		img.img-full {
			width: 100%;
		}
	}
}

.title-box h2 {
	.btn-collapse-section {
		position: absolute;
		right: 15px;
		top: -45px;
		font-size: 15px;
		color: #4d4d4d;
		letter-spacing: -0.05em;
		opacity: 0.9;
		@include transition(all 0.25s ease-in-out);
		&:before {
			content: "Collapse";
			padding-right: 5px;
		}
		&:after {
			content: "\f102";
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			text-transform: none;
			@include transition(all 0.25s ease-in-out);
		}
		&:hover {
			opacity: 1;
			text-decoration: none;
			&:before {
				text-decoration: underline;
			}
		}
		&:focus {
			text-decoration: none;
		}
	}
}

.title-with-circle {
	margin-bottom: 40px;
	.img-circle {
		max-width: 170px;
		margin: 0 auto 15px;
		float: none;
		display: block;
	}
	h4 {
		border-bottom: 1px solid #c3c4c4;
		font-size: 24px;
		padding-bottom: 8px;
	}
}

.reset-password-box {
	width: 600px;
	padding-left: 30px;
	padding-right: 30px;
	h2 {
		color: white;
		margin-bottom: 58px;
	}
	input {
		&::-webkit-input-placeholder { color: rgba(white, .55); transition: color .4s ease; }
		&:-moz-placeholder { color: rgba(white, .55); transition: color .4s ease; }
		&::-moz-placeholder { color: rgba(white, .55); transition: color .4s ease; }
		&:-ms-input-placeholder { color: rgba(white, .55); transition: color .4s ease; }
		background-color: transparent;
		border: none;
		border-bottom: 4px solid rgba(white, .55);
		box-shadow: none;
		outline: none;
		width: 100%;
		max-width: 460px;
		text-align: center;
		color: white;
		margin-bottom: 25px;
		font-size: 23px;
		transition: color .4s ease;
		&:focus {
			&::-webkit-input-placeholder { color: white; transition: color .4s ease; }
			&:-moz-placeholder { color: white; transition: color .4s ease; }
			&::-moz-placeholder { color: white; transition: color .4s ease; }
			&:-ms-input-placeholder { color: white; transition: color .4s ease; }
		}
	}
}

.disable-form-wrapper {
	.btn.btn-disable-form,
	.btn.btn-lg.btn-disable-form {
		padding-left: 28px;
		padding-right: 18px;
		min-width: 200px;
	}
	.form-control {
		background-color: #FAFBFC;
	}
	fieldset.if-disable,
	.fieldset.if-disable {
		border-color: transparent;
		padding: 0;
		margin: 0;
		.legend {
			display: none;
		}
		.form-row-sm,
		.form-row {
			padding-left: 0;
		}
		& + fieldset:not(.if-disable),
		& + .fieldset:not(.if-disable) {
			margin-top: 25px;
		}
	}
}

.disabled-form {
	.legend em {
		display: none;
	}
	.btn-add,
	.btn-text,
	.hide-if-disable {
		display: none;
	}
	.form-control:disabled {
		font-size: 21px;
		height: auto;
		padding: 0;
		background-color: transparent;
		border-color: transparent;
		cursor: default;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	textarea.form-control:disabled {
		font-size: 20px;
	}
}

.cust-form-popup {
	max-width: 1180px;
	width: 100%;
	padding: 15px;
	margin: auto;
	.title-with-circle {
		margin-bottom: 10px;
	}
	h4,
	h3 {
		border: none;
		padding-bottom: 0;
		margin-bottom: 0;
		color: #fff;
	}
	.disable-form-wrapper {
		background: #fff;
		border-radius: 6px;
	}
}

.dropdown.cst-select-lg {
	margin-left: -24px;
	display: inline-block;
	.btn {
		font-size: 45px;
		text-transform: none;
		font-weight: 400;
		background: transparent;
		border: none;
		padding: 18px 24px 10px;
		border-radius: 6px 6px 0 0;
		box-shadow: none;
		@include transition(all 0s ease-in-out);
		&:focus,
		&:active {
			box-shadow: none;
		}
		.caret {
			display: inline;
			color: rgba(202, 201, 201, 1);
			border: none;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			font-size: 0.6em;
			&:before {
				content: "\f0d7";
			}
		}
	}
	.dropdown-menu {
		margin-top: 0;
		padding: 0;
		border: none;
		width: 100%;
		font-size: 36px;
		background: $blue;
		color: #fff;
		border-radius: 0 0 6px 6px;
		li {
			color: inherit;
			padding: 12px 24px 8px;
			position: relative;
			cursor: pointer;
			&:before {
				content: "";
				display: block;
				height: 1px;
				top: 0;
				left: 24px;
				right: 24px;
				position: absolute;
				background: rgba(255,255,255,0.18);
			}
			&:hover {
				background: rgba(255,255,255,0.07);
			}
		}
	}
	&.open {
		.btn {
			background: $blue;
			color: #fff;
		}
	}
}

.social-option-box {
	position: relative;
	.login-popup-box-wrap {
		top: -94px;
		width: 100%;
		max-width: 376px;
		position: absolute;
		max-height: 370px;
		right: 105px;
		left: inherit;
		z-index: 0;
		display: none;
		&.right-175 {
			right: 175px;
		}
		.login-popup-box {
			opacity: 1;
			float: none;
			&:before {
				top: 104px;
				right: -16px;
				border-width: 7px 0 7px 16px;
				border-color: transparent transparent transparent #014765;
			}
		}
	}
	.btn-add-social.active {
		background-color: transparent;
		a {
			color: #014765;
			text-decoration: none;
		}
	}
}

/* Custom WP Forms */

body .swal2-modal .swal2-styled:first-child {
	background-color: #f86071 !important;
	border-color: #f86071 !important;
	color: #fff !important;
}

body .swal2-modal .swal2-styled:first-child:hover {
	background-color: #e55a6a !important;
	border-color: #e55a6a !important;
	color: #fff !important;
}

body .swal2-modal .swal2-close,
body .swal2-modal .swal2-confirm.swal2-styled {
	color: #fff !important;
	background-color: #49bda8 !important;
	border-color: #318878 !important;
}

body .swal2-modal .swal2-close:hover,
body .swal2-modal .swal2-confirm.swal2-styled {
	color: #fff !important;
	background-color: #318878 !important;
	border-color: #49bda8 !important;
}

body .swal2-icon.swal2-warning {
	color: #ffc662 !important;
	border-color: #ffc662 !important;
}

body .swal2-icon.swal2-error {
	border-color: #f86071 !important;
}

body .swal2-icon.swal2-error [class^='swal2-x-mark-line'] {
	background-color: #f86071;
}

.folower-item-box {
	background: $green;
	color: #fff;
	border-radius: 5px;
	text-align: center;
	padding: 18px 20px;
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 30px;
	.num {
		font-size: 45px;
		font-weight: 100;
		line-height: 0.95em;
	}
	.desc {
		padding-top: 7px;
		letter-spacing: 0.01em;
	}
	hr {
		margin-top: 5px;
		margin-bottom: 5px;
		border-color: #fff;
	}
	.fa {
		border: 1px solid #fff;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		line-height: 28px;
		font-size: 16px;
		text-align: center;
		margin-right: 5px;
	}
}